<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ 'globals.css' | asset_url | stylesheet_tag }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}
  </head>

  <body class="homepage-desktop">
    <div class="div">
      {% section 'announcement-bar' %}
      {% section 'header' %}
      <main role="main">
        {{ content_for_layout }}
      </main>
      {% section 'footer' %}
    </div>
  </body>
</html>
