<div class="section-content">
  <div id="w-node-_96482f02-e59a-dd93-1310-48dc70d59c22-1362cce0" class="title-content">
    <div class="title">{{ section.settings.title }}</div>
  </div>
  
  <div class="div-block-18">
    <div class="div-block-24 blog">
      {% for article in blogs[section.settings.blog].articles limit: section.settings.post_limit %}
        <div class="blog-card">
          {% if article.image %}
            <img src="{{ article.image | img_url: 'master' }}"
                 loading="lazy"
                 alt="{{ article.title }}"
                 class="image-13"/>
          {% endif %}
          <div class="frame-20">
            <div class="text-27">{{ article.title }}</div>
            <div class="text-28">{{ article.published_at | date: '%B %d, %Y' }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
    
    {% if section.settings.view_all_link != blank %}
      <div class="div-block-9">
        <a href="{{ section.settings.view_all_link }}" class="secondary-button">
          <div class="text-8">VIEW ALL</div>
          <img src="{{ 'vectors-wrapper-3.svg' | asset_url }}" loading="lazy" width="24" height="24" alt="" class="vectors-wrapper-8"/>
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Blog Posts",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Blog"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 6,
      "step": 2,
      "default": 2,
      "label": "Posts to show"
    },
    {
      "type": "url",
      "id": "view_all_link",
      "label": "View All Link"
    }
  ],
  "presets": [
    {
      "name": "Blog Posts",
      "category": "Blog"
    }
  ]
}
{% endschema %}
