<div class="nav-bar">
  <div class="div-block-8">
    <div class="frame-25">
      <a href="/" class="logo-link">
        {% if section.settings.logo != blank %}
          <img src="{{ section.settings.logo | img_url: 'master' }}" 
               loading="lazy" 
               width="195" 
               height="22" 
               alt="{{ shop.name }}" 
               class="logo">
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>
      
      <nav class="menu-2">
        {% for link in section.settings.menu.links %}
          <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a>
        {% endfor %}
        
        {% if shop.customer_accounts_enabled %}
          <a href="{{ routes.account_url }}" class="menu-link">LOGIN</a>
        {% endif %}
      </nav>
      
      <div class="div-block-29">
        <a href="{{ routes.cart_url }}" class="cart-icon-link">
          <img src="{{ 'vectors-wrapper-2.svg' | asset_url }}" 
               loading="lazy" 
               width="26" 
               height="26" 
               alt="Cart" 
               class="shopping-cart-icon">
          <span class="cart-count">{{ cart.item_count }}</span>
        </a>
        <button class="menu-toggle">
          <img src="{{ 'menu_48dp_ffffff_fill0_wght200_grad0_opsz48.svg' | asset_url }}" 
               loading="lazy" 
               alt="Menu" 
               class="menu-icon">
        </button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
