<div class="nav-bar">
  <div class="div-block-8">
    <div class="frame-25">
      <a href="/" class="logo-link">
        {% if section.settings.logo != blank %}
          <img src="{{ section.settings.logo | img_url: 'master' }}" 
               loading="lazy" 
               width="195" 
               height="22" 
               alt="{{ shop.name }}" 
               class="logo">
        {% else %}
          <img src="{{ 'vectors-wrapper-1.svg' | asset_url }}"
               loading="lazy" 
               width="195" 
               height="22" 
               alt="{{ shop.name }}" 
               class="logo">
        {% endif %}
      </a>
      
      <div class="menu-2">
        <a href="{{ routes.collections_url }}" class="menu-link">SHOP</a>
        <a href="/collections/best-sellers" class="menu-link">BEST SELLERS</a>
        <a href="{{ routes.blog_url }}" class="menu-link">JOURNAL</a>
        <a href="/pages/features" class="menu-link">FEATURES</a>
        <a href="/collections/lookbooks" class="menu-link">LOOKBOOKS</a>
        <a href="{{ routes.search_url }}" class="menu-link">SEARCH</a>
        <div class="menu-link">{{ localization.country.name }}</div>
        {% if shop.customer_accounts_enabled %}
          <a href="{{ routes.account_url }}" class="menu-link">LOGIN</a>
        {% endif %}
      </div>
      
      <div class="div-block-29">
        <a href="{{ routes.cart_url }}" class="cart-icon-link">
          <img src="{{ 'vectors-wrapper-2.svg' | asset_url }}" 
               loading="lazy" 
               width="26" 
               height="26" 
               alt="Cart" 
               class="shopping-cart-icon">
          <span class="cart-count">{{ cart.item_count }}</span>
        </a>
        <button type="button" class="menu-toggle js-menu-toggle">
          <img src="{{ 'menu_48dp_ffffff_fill0_wght200_grad0_opsz48.svg' | asset_url }}" 
               loading="lazy" 
               alt="Menu" 
               class="menu-icon">
        </button>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px",
      "label": "Logo width",
      "default": 195
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
